/UNO_Principal/target/
/UNO_Dominio/target/
/Presentacion-Adapters/target/
/UNO-Ensamblador/target/
/Conexion-Red/target/
/UNO-Serializador/target/
/CoordinadorFiltros/target/
/UNO-DTOs/target/
/UNO-Interfaces/target/
/UNO-ConexionSalida/target/
/UNO-EstadoPartida/target/
/UNO-Control/target/
/UNO-Adapter/target/
/UNO-ConexionEntrada/target/
/UNO-CoordinadorFiltros/target/
/UNO-Deserializador/target/
/UNO-Broadcast/target/
/UNO-AdapterConexionSalida/target/
/UNO-Dominio/target/
/UNO-Dominio/nbproject/
/UNO-Principal/target/
/UNO-AdapterSolicitarUnionJugador/target/
/UNO-AdapterCargarPartida/target/
/UNO-AdapterIniciarPartida/target/
